.dashboard {
    display: flex;
}

 .dashboardContainer {
    padding: 30px 20px;
    /* border: 2px solid black; */
    width: 100%;
} 

.dashboardWrapper {
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: auto;
}

.statsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.graphContainer {
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    align-items: center;
    /* max-width: 700px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--white-color);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .graphContainer {
        flex-direction: column;
    }

    .lineChart, .pieChart {
        flex: 1;
        width: 100%;
    }
}

.lineChart, .pieChart {
    height: auto;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}


.lineChart {
    flex:3;
}

.pieChart {
    flex: 2;
}

.adminPie {
    max-width: 500px;
}