.receiptWrapper {
    background-color: var(--white-color);
    width: 400px;
    margin:  auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black
}

.receiptWrapper table {
    border-collapse: collapse;
}

.receiptWrapper table tr td {
    padding: 2px 5px;
    font-size: 14px;
}

.receiptWrapper table tr td:nth-child(1) {
    font-weight: 500;
}

.receiptHeader {
    text-align: center;
}
.receiptHeader p {
    font-size: 14px;
}

.receiptContent {
    border-bottom: 2px solid var(--gray-color);
    padding-bottom: 5px;
}

.receiptDescription {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--gray-color);
}

.receiptFooter {
    align-self: flex-end;
}

.receiptFooter tr:nth-child(1) {
    border: 2px solid black;
}

.receiptFooter p {
    border-bottom: 1px solid var(--gray-color);
    font-size: 14px;
    padding: 5px;
    color: rgb(228, 228, 228);
}