/* Current Meal */
.currentMealItem {
    width: 350px;
    padding: 15px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border-left: 5px solid var(--red-color);
    position: relative;
}

.currentMealItem table {
    /* border: 2px solid green; */
    width: 100%;
    font-size: 16px;
}

.currentMealItem table tr {
    vertical-align: center;
  }
  
  
  .currentMealItem > table tr td {
    padding: 2px 0px;
    color: var(--gray-text);
    vertical-align: top;
    /* border: 2px solid red; */
}

.currentMealItem table tr td:nth-child(1) {
    font-weight: 500;
}



.currentMealActions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.badge {
    padding: 2px 10px;
    font-size: 12px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 10px;
    color: var(--white-color);
    transition: background-color 0.2s ease-in-out;
}

.badge:hover {
    cursor: pointer;
    background-color: var(--hover-primary-btn);
}

.editBadge {
  font-size: 18px;
}

.deleteBadge {
  font-size: 18px;
}

.deleteBadge:hover {
  cursor: pointer;
  opacity: 0.7;
}

.editBadge:hover {
  cursor: pointer;
  opacity: 0.7;
}

.currentMealTotalUsers {
  background-color: var(--orange-color);
  min-width: 40px;
}


/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 12px;
    margin-top: 5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0px;
    bottom: -2px;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }



  .currentMealDetails {
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .currentMealDetailsItem {
    display: flex;
    font-size: 16px;
    /* border: 2px solid green; */
  }

  .currentMealDetailsItem p {
    /* border: 2px solid green; */
    color: var(--gray-text);
    padding: 2px;
  }

  .currentMealDetailsItem p:nth-child(1) {
    font-weight: 500;
    /* border: 2px solid pink; */
    flex: 1;
  }

  .currentMealDetailsItem p:nth-child(2) {
    flex: 3;
  }

  .currentMealItemsContainer {
    margin: 5px 0px;
  }

  .currentMealItems {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-text);
    font-style: italic;
  }


  .tableFooter {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding-right: 5px;
}

.tableFooter p{ 
    font-weight: 600;
    color: var(--red-color);
}

.tableFooter button {
    padding: 3px 25px;
    border-radius: 30px;
    font-size: 15px;
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.tableFooter button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.closingSwitch {
  position: absolute;
  top: 10px;
  right: 10px;
}