Link {
    text-decoration: none;
}

/* table filters */
.tableFilters {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.showEntries {
    display: flex;
    font-size: 12px;
    align-items: center;
    opacity: 0.9;
    gap: 10px;
}

.showEntriesInput {
    width: 25px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:768px) {
    .tableFilters {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px
    }
}

@media screen and (max-width:480px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .filtersSearch {
        min-width: 200px !important;
        width: 100%;
    }
}

.filtersSelect {
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 50px;
    border: 2px solid var(--gray-color);
    opacity: 0.7;
    outline: none;
    font-family: 'Exo 2', sans-serif;
}

.filtersSearch {
    border: 2px solid var(--gray-color);
    background-color: transparent;
    font-family: 'Exo 2', sans-serif;
    padding: 5px 10px;
    border-radius: 50px;
    outline: none;
    min-width: 300px;
}

/* tables */
.table {
    min-width: 768px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: var(--box-shadow);
}

.table th {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.table th:nth-child(1) {
    border-top-left-radius: 10px;
}
.table th:nth-last-child(1) {
    border-top-right-radius: 10px;
}

.table td, th {
    padding: 10px 15px;
    text-align: left;
}


.table tr td {
    opacity: 0.8;
    border-bottom: 1px solid var(--gray-color);
}

 .tableBadge{
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 4px;
    color: var(--white-color);
    border-radius: 20px;
}

.badgeCell {
    text-align: center !important;
}

 .badge-green {
    background-color: var(--green-color);
}

 .badge-red {
    background-color: var(--red-color);
}

.tableIcon {
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
}

.tableIcon:hover {
    opacity: 0.7;
}

.greenIcon {
    color: var(--green-color);
}

.redIcon {
    color: var(--red-color);
}

.orangeIcon {
    color: var(--orange-color);
}

/* modal */
.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20000;
    position: fixed;
    top: 0;
    left: 0;
}

.modalContainer {
    background-color: var(--white-color);
    padding: 50px 30px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    top:50%;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: auto;
}

.modalHeading {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.modalStatement {
    opacity: 0.8;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

.modalCross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 20px;
}

.modalCross:hover {
    color: var(--hover-primary-btn);
}

.modalContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 5px;
    border-left-width: 4px;
}

.inputContainer label {
    font-size: 14px;
    opacity: 0.7;
}

.inputContainer input {
    padding: 5px 0px;
    font-size: 16px;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
}


.splitInputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width:480px) {
    .modalContainer {
        max-height: 100vh;
        height: 100%;
        /* padding-left: 0px; */
    }
    .splitInputs {
        flex-direction: column;
    }
}

.splitInputs label {
    margin-left: 3px;
}

.splitInputs .inputContainer {
    flex: 1;
}

.inputContainer select {
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;

}

.splitInputs .inputContainer option {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}

.modalBtn {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 10px;
}

.modalBtn:disabled {
    cursor: not-allowed;
    pointer-events: none !important;
    opacity: 0.7;
}

.modalBtn:hover {
    cursor: pointer;
    background-color: var(--hover-primary-btn);
}

.loader {
    display: flex;
    justify-content: center;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.paginationBtn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.paginationBtn:hover {
    background-color: var(--primary-color);
    color: white;
}

.activePagination {
    background-color: var(--primary-color) !important;
    color: white;
}