* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5A45AA;
    --background-color: #ECEFF6;
    --white-color: #ffffff;
    --red-color: #F62D51;
    --purple-color: #7460EE;
    --green-color: #55CE63;
    --orange-color: #ce7f55;
    --gray-color: #DCDEE1;
    --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --hover-primary-btn: #3b2d72;
    --gray-text:#555659;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #C6C9CE;
    border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #a5a7ab;

}

.mainHeading {
    font-family: 'Exo 2', sans-serif;
    color: var(--primary-color);
}

.roleHeading {
    font-family: 'Exo 2', sans-serif;
    color: black;
    opacity: 0.5;
    text-transform: uppercase;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}
