.menu {
    display: flex;
}

.menuContainer {
    padding: 30px 20px;
    width: 100%;
}

.menuWrapper {
    max-width: 1200px;
    margin: auto
}

.menuTypeContainer {
    display: flex;
    gap: 10px;

}

.menuTypeItem {
    flex: 1;
    border-right: 1px solid var(--gray-color);
    padding: 20px;
    position: relative;
}

.menuTypeEdit {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--green-color);
    cursor: pointer;
}

.menuTypeDelete {
    position: absolute;
    right: 30px;
    top: 10px;
    color: var(--red-color);
    cursor: pointer;
}